<h1>Eat Da Burger!</h1>

<h2>Burgers that are available!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li><strong> {{this.burger_name}} </strong>
    <button type="button" class="eatburger" id = "eatbutton" data-id="{{this.id}}" data-newDevoured="{{devoured}}">Yummyyy!</button></li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li><strong> {{this.burger_name}} </strong>
    <button type="button" class="remakeburger" data-id="{{this.id}}" data-newDevoured="{{devoured}}">Make that burger again!</button></li>
    {{/if}}
  {{/each}}
</ul>

<h2>Create Your Own Burger to Eat!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bn">Name Your Creation:</label>
    <input type="text" id="bn" name="burger">
  </div>

    <div class="form-group">
    <label for="eaten">Have you eaten this burger before?</label><br>
    <input type="radio" name="sleepy" value="1" checked>MMM. IT'S DELICIOUS.<br>
    <input type="radio" name="sleepy" value="0">Nope, but I can't wait to try it!
  </div>

  <button type="submit" id="submit">Cook that Burger!</button>
</form>
